<div class="bg-grey-1 pv4">
  <div class="flex-l mhn1-l ph3 center mw7">
    <h2 class="f2 b lh-title mb2 w-40-l">{{.heading | html}}</h2>
    <p class="w-60-l mb0">{{.text | markdownify}}</p>
  </div>
</div>
