<!doctype html>
<html lang="en">
  {{ partial "head" . }}
  <body class="sans-serif"><div>Tom#1</div>
    {{ partial "nav" . }}
    {{ block "main" . }}{{ end }} 
    {{ partial "footer" . }} 
  </body>
</html>